
*{

margin: 0;
padding: 0;

}
body{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white !important;
display: flex;
flex-wrap: wrap;
background-color: aqua;
height: 70%;
justify-content: space-between;
}
.one{
width: 35%;
height: 100%;


}
.two{
   background-color: lightcoral;
    color :white;
background-color: blueviolet;
width: 65%;
height: 100%;
text-align: center;


}
.two h4{
margin-top: 10px;
}
.two h1{
    margin-top: 15px;

}
.two .p span{

margin-left: 15px;

}
a{
    margin-left: 20px;
color: white;
margin-top: 20px;
display: inline-block;
text-decoration: none;

}
.two .te{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
  
    line-height: 1.8;
    text-align:unset;
    width: 80%;
    margin: 10px auto;
    padding: 15px;
 
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);

}
h3{
margin-bottom: 10px;


}
.group{
display: flex;
justify-content: center;





}
.item1{

    border-radius: 5px;
    height: 30px;
    width: 30px;
    background-image: url('https://assets.codepen.io/1462889/mat1.jpg');
}

  .item2{height: 70px;
    width: 70px;
    border-radius: 5px;
    height: 30px;
    margin: 0 5px;
    width: 30px;
    background-image: url('https://assets.codepen.io/1462889/mat2.jpg');
  }
  .item3{height: 70px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    width: 30px;
    background-image: url('https://assets.codepen.io/1462889/mat3.jpg');
  }
 .item4{height: 70px;
    width: 70px;
    border-radius: 5px;
    height: 30px;
    margin: 0 5px;
    width: 30px;
    background-image: url('https://assets.codepen.io/1462889/mat4.jpg');
  }
.item5{height: 70px;
    width: 70px;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    background-image: url('https://assets.codepen.io/1462889/mat5.jpg');
  }
  .item6{height: 70px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    width: 30px;
    margin: 0 5px;
    background-image: url('https://assets.codepen.io/1462889/mat6.jpg');
  }